/* tablet */
@media only screen and (min-width: 600px) and (max-width:1023px){
    .header__search-input{
        font-size: 1.3rem;
    }
    .header__search-select{
        padding-left: 0;
    }
    .header__search-select-label{
        display: none;
    }
    .header__search-btn{
        width: 40px;
    }
}
/* small tablet and mobile */
@media (max-width:739px){
    .header__navbar{
        display: none;
    }
    .header__logo-img{
        font-size: 2rem;
    }
}